{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<h2> Sign Up </h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password1">
        </div>
        <div class="mb-3">
            <label class="form-label">Verify Password</label>
            <input class="form-control" type="password" name="password2">
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
{% endblock %}